*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

header{
    background-color: #35424A;
    color: #FFFFFF;
    max-height: 25%;
}

nav{
    border-bottom: 3px solid #a84f89;
}
.container{
display: flex;
flex-direction: row;
align-items: center;
justify-content:space-between;
padding: 30px 20px;
}

.container a {
color: #fff;
text-decoration: none;
}

#clarusway{
    margin: 10px;
}

.container li{
    list-style-type: none;
    float: left;
    padding-right: 30px;
    font-weight: bold;
}

.img{
    background-image: url('img/showcase.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #ffffff;
    min-height: 400px;
    text-align: center;
    line-height: 1.5;
    padding: 0px 6%;
}
.heading h1{
    font-size: 2.5rem;
    padding-top: 5rem;
    padding-bottom: 0.6rem;
}
.subscribe{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    margin: 10px 15px;
    padding: 20px;
    height: 100px;
    background-color: #35424a;
    align-items: center; 
}
#email input{
    font-size: 14px;
    padding: 10px;
    width: 250px;
}
#email button{
    font-size: 14px;
    padding: 10px;
    background-color: #F16529;
    border: 2px solid #F16529;
    color:#fff;
}

main{
    max-height: 55%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    text-align: center;
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin: 15px;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    padding: 20px;
    max-height: 30%;
    background-color: #35424a;
    align-items: center; 
}
.aboutcontainer{
    display: flex;
    flex-direction: row;
    text-align: left;
    padding: 20px;
    height: 59vh;
}
#aboutus{
    background-color: #35424a;
    padding: 15px;
}
.left{
    margin: 20px;
}
.right{
    margin: 20px;
}
#righticdiv{
    background-color: #35424a;
    color: #fff;
    padding: 20px;
}

.servicescontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    text-align: left;
    height: 59vh;
    margin: 20px;
    width: 100%;
}
#firstservices{
    width:60%
    margin: 15px;
}

#webbox{
    width:100%;
}
.web{
    background-color: #E6E6E6;
    border: 1px solid #c0bfbf;
    margin: 3px;
    padding: 20px;
    line-height:  1.3em;;
}
.quote{
    width:35%;
    margin:5px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items: left;
}
#formservices{
    background-color: #35424a;
    padding: 20px;
    color: #fff;
}

#formservices button{
    font-size: 14px;
    padding: 5px;
    background-color: #F16529;
    border: 2px solid #F16529;
    color:#fff;
}
#formservices input, textarea{
    width:100%;
    font-size: 12px;
    padding:10px;
    margin-top: 5px;
    color: #35424a;
}
